<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-movies">
        <%= link_to 'All Movies', root_path, class: 'button' %>
      </li>
      <% if current_user_admin? %>
        <li class="create-movie">
          <%= link_to 'Add Movie', new_movie_path, class: 'button' %>
        </li>
        <li class="create-movie">
          <%= link_to 'Edit Genres', genres_path, class: 'button' %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
